@model Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>
@using (Html.BeginForm("Register", "Login", FormMethod.Post))
{
    <form class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "col-lg-2 control-label"})
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new {@class = "col-lg-2 control-label"})
            <div class="col-lg-10">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register"/>
            </div>
        </div>
    </form>
}
